Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Werkzeug==2.3.7
SQLAlchemy==2.0.21
python-dotenv==1.0.0
WTForms==3.0.1
Flask-WTF==1.1.1
email-validator==2.0.0
python-barcode==0.15.1
Pillow==10.0.0
reportlab==4.0.4
XlsxWriter==3.1.2
qrcode==7.4.2